.navbar {
    z-index: 1;
    position: fixed;
}

.header {
    width: 65%;
    text-align: center;
    padding: 3vw;
    position: absolute;
    left: 50%;
    margin-left: -32.5%;
}

.name {
    padding-bottom: 1.5%;
}

.face {
    object-fit: contain;
    padding: 5%;
    flex: 15%;
    float: right;
}

.intro-paragraph-div {
    text-align: left;
}

.intro-div {
    display: flex;
  }