.navbar {
    z-index: 1;
    position: fixed;
}

.header {
    width:100%;
    max-width: 1100px;
    text-align: center;
    padding-top: 3vw;
    margin: 0 auto;
    position: center;
    left: 50%;
}

.name {
    padding-bottom: 0%;
    font-weight: bold;
}

.intro {
    font-size: 15px;
    padding-left: 5%;
}

@media (max-width:900px) {
    .intro {
        font-size: 16px;
    }

    .header {
        width: 90%;
    }

    .face-resume {
        padding-bottom: 3vw;
    }

}

.face {
    object-fit: contain;
    padding-bottom: 3%;
    float: right;
    width: 25%;
    min-width: 200px;
}

.face-resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 300px;
}

.intro-paragraph-div {
    padding-top: 0vw;
    text-align: left;
    max-width: 600px;

    flex-grow: 2;
}

.intro-div {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

.projects-parent {
    width: 100%;
    max-width: 1200px;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 0 auto;
    position: center;
    left: 50%;
}

.project-item {
    padding: 2vw 0vw 2vw 0vw;
    display: flex;

}

.project-item-content {
    padding-left: 15px;
    text-align: left;
    float: right;
}

.project-gif {
    width: 180px;
    height: auto;
    float: left;

    min-height: 200px;
    height:100%;
    object-fit: cover;
}

.project-gif-fitted {
    width: 180px;
    height: auto;
    float: left;

    min-height: 200px;
    height:100%;
    object-fit: contain;
}

.project-item-title {
    padding-left: 10px;
    padding-right: 10px;
}

.project-item-list {
    padding-top: 10px;
}

.separator {
    padding-left: 20px;
    padding-right: 20px;
}